<!DOCTYPE html>
<html>
<head>
    <title>Login - Finance Tracker</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'finance/css/styles.css' %}">
</head>
<body>
    <div class="signup-container"> 
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <div class="login-link">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
        </div>
    </div>
</body>
</html>